<a href="https://colab.research.google.com/github/harsha8745/IBM-WATSON/blob/master/Python_for_data_science_and_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction - Lab 1.1

##Basics

In [ ]:
print('welcome to the world of python!')

welcome to the world of python!

>[Tip:] <code>print()</code> is a ***function***. You passed the string 'Hello, Python!' as an argument to instruct Python on what to print.

In [ ]:
# Check the Python Version
import sys
print(sys.version)

3.6.9 (default, Apr 18 2020, 01:56:04)
[GCC 8.4.0]

> [Tip:] <code>sys</code> is a ***built-in module*** that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly <code>import</code> it.

In [ ]:
#understanding errors

#function name error
frint('sdvesv')  #location(indicated by --->) and type of error msg

NameError: ignored

In [ ]:
##syntax error
print("dgfedg)

SyntaxError: ignored

>Python is what is called an ***interpreted language***. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [ ]:
#example
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

##Types of objects in Python

>Python is an ***object-oriented language***. There are many different types of objects in Python. Let's start with the most common object types: strings, integers, floats and boolean. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> ***function***. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>

>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of sys.float_info. This will also tell you what's the largest and smallest number that can be represented with them

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

---
---
---

#Types

In [ ]:
type(3)

int

In [ ]:
type(542.498499)

float

In [ ]:
type('hghj')

str

In [ ]:
float(2) #type casting..to convert types

2.0

> When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1)

In [ ]:
int(54.51) #but we lose some data

54

In [ ]:
int('25') #'25' was a string, now it will be int

25

In [ ]:
a = '25'
type(a)

str

In [ ]:
int(a)

25

In [ ]:
type(a)

str

In [ ]:
type(int(a))

int

In [ ]:
float('1.2')

1.2

In [ ]:
int('b') #we cant convert strings with non integer value

ValueError: ignored

In [ ]:
b = str(54)
b

'54'

In [ ]:
type(b)

str

In [ ]:
str(545.544)

'545.544'

> Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F")

>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:

In [ ]:
#boolean (bool) - True, False
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
int(True)

1

In [ ]:
float(True)

1.0

In [ ]:
int(False)

0

In [ ]:
bool(1.0)

True

In [ ]:
bool(0)

False

---
***
___

# Expressions and Variables

##expressions

> expressions describe type of operations, performed by python

In [ ]:
55+54 #numbers are operands, math symbols are operators

109

In [ ]:
495-51

444

In [ ]:
55489*54

2996406

In [ ]:
x = 1/1         #after divsion u get float type
x

1.0

In [ ]:
type(x)

float

In [ ]:
515519/15

34367.933333333334

In [ ]:
y = 515519//15  #integer division (rounds off), we get integer type
y

34367

In [ ]:
type(y)

int

In [ ]:
54594+545-515/54+15*325  #BODMAS

60004.46296296296

##variables

>variables are used to store values

In [ ]:
a = 5954
a

5954

In [ ]:
a = 52 #assignining new value makes previous value invalid 
a

52

In [ ]:
x = 45+54-540/54
x

89.0

In [ ]:
type(x)

float

In [ ]:
y = x/4
y

22.25

In [ ]:
x = x/2
x              #old value will be obsolete

22.25

>use appropriate names for variable..for time..totalMinutes or total_minutes

---
---
---

#String Operations

## Lab 1.2

> In Python, a string is a sequence of characters. A string is contained within two quotes. You could also use single quotes. A string can be spaces or digits. A string can also be special characters. We can bind or assign a string to another variable. It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers.

>**Indexing**: 

>Because indexing starts at 0, it means the first index is on the index 0.

In [ ]:
Name = ('Elon Musk')
print(Name[0])

E

In [ ]:
print(Name[6])

u

In [ ]:
print(Name[8])

k

In [ ]:
print(Name[9])

IndexError: ignored

>We can also use negative indexing with strings:

In [ ]:
print(Name[-1])

k

In [ ]:
print(Name[-9])

E

>We can find the number of characters in a string by using <code>len</code>, short for length:

In [ ]:
len(Name)

9

In [ ]:
len('ewfhywbehfwbeihbwiuecnweufnwue')

30

> **Slicing**:

>We can obtain multiple characters from a string using slicing

In [ ]:
Name[0:4]   #till before index 4..slice on variable Name with only index 0 to index 3

'Elon'

In [ ]:
  Name[5:9]

'Musk'

>**Stride**:

>We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [ ]:
Name[::2] # Get every second element, starting from index 0

'Eo uk'

In [ ]:
Name[::3]

'Enu'

In [ ]:
Name[::1]

'Elon Musk'

>We can also incorporate slicing with the stride. In this case, we select the first five elements and then use the stride:

In [ ]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Eo '

In [ ]:
Name[0:9:2]

'Eo uk'

>**Concatenate Strings**:

>We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
Statement = Name + ' is the best'
Statement

'Elon Musk is the best'

> Tule: To replicate values of a string

In [ ]:
z = 3 * Name
z

'Elon MuskElon MuskElon Musk'

>**Escape Sequences**:

>Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
print('elon musk \nis the best')

elon musk
is the best

In [ ]:
print('elon musk \tis the best') #back slash "t" represents a tab

elon musk 	is the best

In [ ]:
#If you want to place a back slash in your string, use a double back slash:
print('elon musk \\ is the best')

elon musk \ is the best

In [ ]:
print(r'elon musk \ is the best')

elon musk \ is the best

In [ ]:
print('elon musk \ is the best')

elon musk \ is the best

>**String Operations**: 

>Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
D = 'dsuweuwehcbwijebwje'
E = D.upper()
E

'DSUWEUWEHCBWIJEBWJE'

In [ ]:
F = E.lower()
F

'dsuweuwehcbwijebwje'

>The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
G = Statement.replace('Elon', 'Jeff')
G

'Jeff Musk is the best'

>The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence.

In [ ]:
G.find('be')   #gives the index value

17

In [ ]:
G[17]

'b'

In [ ]:
G.find('sk')

7

In [ ]:
G[7]

's'

In [ ]:
G.find('ewjecnwiejn')  #If the sub-string is not in the string then the output is a negative one

-1

#Lists and Tuple

##Tuple

>We will cover lists and tuples. These are called compound data types and are one of the key types of data structures in Python.

>Data structure: A collection of related values, often organized in lists, dictionaries,
tuples, etc.

>A tuple
is a sequence of values much like a list. The values stored in a tuple can
be any type, and they are indexed by integers. The important dierence is that
tuples are ***immutable***. Tuples are also ***comparable and hashable*** so we can sort lists
of them and use tuples as key values in Python dictionaries.

In [ ]:
t1 = ('dsfewf', 151, 54.215)
type(t1)

tuple

In [ ]:
# Indexing
print(t1[0])
print(t1[1])
t1[2]

dsfewf
151

54.215

In [ ]:
#Negative indexing
t1[-1]

54.215

>**Concatenate Tuples**: We can concatenate or combine tuples by using the + sign:

In [ ]:
t2 = t1 + ('akmak', 21384.21, 47)
t2

('dsfewf', 151, 54.215, 'akmak', 21384.21, 47)

In [ ]:
#Slice
t2[:3]

('dsfewf', 151, 54.215)

In [ ]:
t2[3:6]

('akmak', 21384.21, 47)

> len(), sorted() these are functions. Commands are given by writing the variable within() of a function

In [ ]:
#length              
len(t1)

3

In [ ]:
len(t2)

6

In [ ]:
#Sorting
t3 = (2,5,0,7,5,6,3,4,2,1)
sorted_t3 = sorted(t3)
sorted_t3

[0, 1, 2, 2, 3, 4, 5, 5, 6, 7]

>**Nested Tuple**: A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [ ]:
nt = (1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
#indexing
print('element 1 of nt:', nt[0])
print('element 2 of nt:', nt[1])
print('element 3 of nt:', nt[2])
print('element 4 of nt:', nt[3])
print('element 5 of nt:', nt[4])

element 1 of nt: 1
element 2 of nt: 2
element 3 of nt: ('pop', 'rock')
element 4 of nt: (3, 4)
element 5 of nt: ('disco', (1, 2))

In [ ]:
#We can use the second index to access other tuples 
nt[2][0]

'pop'

In [ ]:
nt[4][1]

(1, 2)

In [ ]:
#We can access strings in the second nested tuples using a third index:
nt[4][1][0]

1

In [ ]:
nt[4][1][1]

2

In [ ]:
#Finding the first index of elements
nt.index(2)

1

In [ ]:
nt.index((3,4))

3

In [ ]:
#tupples are immutable..cant change the value of an element
print(t1)

('dsfewf', 151, 54.215)

In [ ]:
t1[1] = (354.2)

TypeError: ignored

In [ ]:
#but we can assign new tupple to the same variable, and the old tuple will be obsolete
t5 = t1  #value of t5 doesnt change even if we assign new tupple to t1..#immutable
t1 = ('trwgttt',515.141,'rgwr')
print(t1)
print(t5)

('trwgttt', 515.141, 'rgwr')
('dsfewf', 151, 54.215)

##Lists

>Like a string, a list is a sequence of values. In a string, the values are characters;
in a list, they can be any type. The values in list are called elements or sometimes
items.

>There are several ways to create a new list; the simplest is to enclose the elements
in square brackets [ ]

In [ ]:
l = ['spam', 2.0, 5, [10, 20], ('efwve', 54)]
type(l)

list

>nesting, index, slice similar to tupple

In [ ]:
# extend() to add new elements to list
l.extend(['hegcw', 547, 'e5w5'])
l

['spam', 2.0, 5, [10, 20], ('efwve', 54), 'hegcw', 547, 'e5w5']

In [ ]:
#Another similar method is append. If we apply append instead of extend, we add one element to the list:
l = ['spam', 2.0, 5, [10, 20], ('efwve', 54)]
l.append(['popopo', 8491])
l

['spam', 2.0, 5, [10, 20], ('efwve', 54), ['popopo', 8491]]

In [ ]:
#As lists are mutable, we can change them.
l[1] = 87
l

['spam', 87, 5, [10, 20], ('efwve', 54), ['popopo', 8491]]

In [ ]:
#We can also delete an element of a list using the del command:
del(l[4])
l

['spam', 87, 5, [10, 20], ['popopo', 8491]]

>We can convert a string to a list using <code>split</code>. For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

In [ ]:
l1 = 'aefwe ewfqvvre rqbtwdcwrerq 55'.split()
l1

['aefwe', 'ewfqvvre', 'rqbtwdcwrerq', '55']

In [ ]:
#We can use the split function to separate strings on a specific character.
'aefwe, ewfqvvre, rqbtwdcwrerq, 55'.split(',')

['aefwe', ' ewfqvvre', ' rqbtwdcwrerq', ' 55']

>**Aliasing**: When we set one variable B equal to A, both A and B are referencing the same list. Multiple names referring to the same object is known as aliasing.

In [ ]:
l1

['aefwe', 'ewfqvvre', 'rqbtwdcwrerq', '55']

In [ ]:
l2 = l1       #unlike tuples,since list is mutable when we change the original value,all other variables also get effected
l1[0] = 'rock'
print(l1)
l2

['rock', 'ewfqvvre', 'rqbtwdcwrerq', '55']

['rock', 'ewfqvvre', 'rqbtwdcwrerq', '55']

In [ ]:
#cloning
l3 = l1[:]
l3

['rock', 'ewfqvvre', 'rqbtwdcwrerq', '55']

In [ ]:
l1[0] = 'water' #cloned variables doesnt get effected from changes made to the original list
print(l1)
l3

['water', 'ewfqvvre', 'rqbtwdcwrerq', '55']

['rock', 'ewfqvvre', 'rqbtwdcwrerq', '55']

>We can get more info on list, tuples, and many other objects in Python using the <code>help</code> command. Simply pass in the list, tuple, or any other Python object.

In [ ]:
help(tuple)

#Dictionaries

>A dictionary is like a list, but more general. In a list, the index positions have to
be integers; in a dictionary, the indices can be (almost) any type.
You can think of a dictionary as a mapping between a set of indices (which are
called keys) and a set of values. Each key maps to a value. The association of a
key and a value is called a key-value pair or sometimes an item.

>The key is analogous to the index. They are like addresses, but they don't have to be integers. They are usually characters. The values are similar to the element in a list and contain information. To create a dictionary, we use curly brackets. The keys are the first elements. They must be ***immutable***(strings,numbers and tuples) and unique. Each key is followed by a value separated by a colon. The values can be immutable, mutable, and duplicates. Each key and value pair is separated by a comma.

>For every key, there can only be one single value, however, multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

In [ ]:
dict_1 = {'key1':10,'key2':'qrwvw','key3':544.12,'key4':'wfv8ve','key5':(54,'vqvr'), (0,'qecq'):['rqr',54.158,'qr87qr']}
print(type(dict_1))                     #keys can also be tuples since immutable
dict_1

<class 'dict'>

{(0, 'qecq'): ['rqr', 54.158, 'qr87qr'],
 'key1': 10,
 'key2': 'qrwvw',
 'key3': 544.12,
 'key4': 'wfv8ve',
 'key5': (54, 'vqvr')}

In [ ]:
#indexing similar to list and tuple, but instead of integers we use address to retrive the value
dict_1['key5']

(54, 'vqvr')

In [ ]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
release_year_dict['The Dark Side of the Moon']

'1973'

In [ ]:
#retrieve all the keys of the dictionary using keys()
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
#retrieve the values using the method values()
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
sorted(release_year_dict.values())

['1973', '1976', '1977', '1977', '1977', '1980', '1982', '1992']

In [ ]:
sorted(release_year_dict)  #sorts alpahbetical wise

['Back in Black',
 'Bat Out of Hell',
 'Rumours',
 'Saturday Night Fever',
 'The Bodyguard',
 'The Dark Side of the Moon',
 'Their Greatest Hits (1971-1975)',
 'Thriller']

In [ ]:
#append
release_year_dict['new key'] = 4745.2144
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982',
 'new key': 4745.2144}

In [ ]:
#delete using del()
del(release_year_dict['new key'])
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [ ]:
#We can verify if an element is in the dictionary using in
'Rumours' in release_year_dict

True

In [ ]:
'Starboy' in release_year_dict

False

#Sets

>Sets are a type of collection. This means that like lists and tuples, you can input different Python types. Unlike lists and tuples, they are unordered. This means sets do not record element position. Sets only have unique elements. This means there is only one of a particular element in a set.

>To define a set, you use curly brackets. You place the elements of a set within the curly brackets. You notice there are duplicate items. When the actual set is created, duplicate items will not be present.

In [ ]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
#coverting list into a set by typecasting using set()
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [ ]:
type(music_genres)

set

>Set Operations

> Let's go over set operations. These could be used to change the set. Consider the set2. Let's represent this set with a circle. If you are familiar with sets, this could be part of a venn diagram.

In [ ]:
#Adding element using add()
set2 = {"Thriller", "Back in Black", "AC/DC"}
set2

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
set2.add('NSYNC')
set2

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
#If we add the same element twice, nothing will happen as there can be no duplicates in a set:
set2.add('NSYNC')
set2

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
#removing element using remove()
set2.remove("NSYNC")
set2

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
#We can verify if an element is in the set using in
'Thriller' in set2

True

In [ ]:
'starboy' in set2

False

>Sets Logic Operations

>Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

>As both sets contain AC/DC and Back in Black we represent these common elements with the intersection of two circles.

In [ ]:
#You can find the intersect of two sets as follow using &
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [ ]:
#You can also find the intersection of album_list1 and album_list2, using the intersection()
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [ ]:
#You can find all the elements that are only contained in album_set1 using difference()
album_set1.difference(album_set2)

{'Thriller'}

In [ ]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

>The union corresponds to all the elements in both sets

In [ ]:
#The union is given by union()
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
#And you can check if a set is a superset or subset of another set, respectively using issuperset(), issubset()
album_set1.issuperset(album_set2)

False

In [ ]:
album_set2.issubset(album_set1)

False

In [ ]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [ ]:
A==B

False

#Condition statements  and Branching

##Comparison Operators

>Comparison operations compare some value or operand and, based on a condition, they produce a Boolean. When comparing two values you can use these operators:

- equal: ==
- not equal: !=
- greater than: >
- less than: <
- greater than or equal to: >=
- less than or equal to: <=

In [ ]:
a = 5
a == 6

False

In [ ]:
b = 6
b > 7

False

In [ ]:
b > 5

True

In [ ]:
c = 6
c != 5

True

In [ ]:
c != 6

False

In [ ]:
c == 5

False

In [ ]:
'rwwrbwbvs' == 'nbwrve'

False

In [ ]:
'asdfgh' == 'asdfgh'

True

>Inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

>For example, the ASCII code for ! is 21, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 21.

>Similarly, the value for A is 101, and the value for B is 102 therefore:

In [ ]:
'+' > '!'

True

In [ ]:
'z' > 'y'

True

In [ ]:
#When there are multiple letters, the first letter takes precedence in ordering:'
'ZY' > 'YZ'

True

>Note: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in python is case-sensitive.

##Branching

>Branching allows us to run different statements for different inputs. 

>It is helpful to think of an <code>if </code>statement as a locked room, if the statement is True we can enter the room and your program will run some predefined tasks, but if the statement is False the program will ignore the task.

In [ ]:
# If statement example
age = 19
if age > 18:
  print('you can enter the room')
print('move on')                    ##The statements after the if statement will run regardless if the condition is true or false

you can enter the room
move on

In [ ]:
age = 17
if age > 18:
  print('you can enter the room')
print('move on')

move on

> The <code>else</code>statement runs a block of code if none of the conditions are **True** before this <code>else</code> statement.

In [ ]:
# Else statement example

age = 18
if age > 18:
    print("you can enter club 1" )
else:
  print('you can enter club 2')
print('move on')

you can enter club 2
move on

>The <code>elif</code> statement, short for else if, allows us to check additional conditions if the condition statements before it are <b>False</b>. If the condition for the <code>elif</code> statement is <b>True</b>, the alternate expressions will be run.

In [ ]:
# Elif statment example
age = 18
if age > 18:
    print("you can enter club1" )
elif age == 18:
  print('you can enter club 2')
else:
  print('you can enter club 3')
print('move on')

you can enter club 2
move on

In [ ]:
# Condition statement example
album_year = 1970
if album_year > 1980:
  print('this is 80s')
print('not 80s')

not 80s

## Logical operators

>Logical operators allow you to check more than one condition at once. For example, you might want to check if one condition and another condition is True. Logical operators allow you to combine or modify conditions.Logic operations take Boolean values and produce different Boolean values. 

>Different logocal operators:

- and
- or
- not

>These operators are summarized for two variables using the following truth tables:

![Truth table](https://github.com/harsha8745/IBM-WATSON/blob/Images/Logical%20operators%20truth%20table.png?raw=true)

In [ ]:
# and operator example
q = 1980
if q > 1979 and q < 1990:
  print('q is from 80s')
else:
  print('q not from 80s')
print('the end')

q is from 80s
the end

In [ ]:
#  or operator example
w = 1990
if w < 1984 or w > 1989:
  print('w is good')
else:
  print('w is bad')
print('bye')

w is good
bye

> The not statement checks if the statement is false:

In [ ]:
#not operator
year = 1983
if not year == 1984:
  print('year is not 1984')

year is not 1984

#Loops

##Range

>Before we discuss loops lets discuss the range object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate a sequence that contains three elements ordered from 0 to 2 we simply use the following command:

In [47]:
for i in range(3):
  print(i)

0
1
2

##For loop

>Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by loops. We will look at two types of loops, for loops and while loops.

>The for loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.

In [51]:
dates = [151,54515,541598423,4154]
l = len(dates)
for i in range(l):
  print(dates[i])

151
54515
541598423
4154

>The code in the indent is executed  l times, each time the value of i is increased by 1 for every execution. The statement executed is to print out the value in the list at index i as shown here:

In [52]:
#alternate way of doing this
for date in dates:
  print(date)

151
54515
541598423
4154

In [54]:
#In this example we can print out a sequence of numbers from 0 to 7:
for j in range(8):
  print(j)

0
1
2
3
4
5
6
7

In [68]:
#We can change the elements in a list:
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for k in range(0,5):
  squares[k] = 'weight'
  print(k, squares[k])

0 weight
1 weight
2 weight
3 weight
4 weight

In [69]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i,j in enumerate(squares):
    print(i,j)

0 red
1 yellow
2 green
3 purple
4 blue

##While loop

>As you can see, the for loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a False boolean value.

>Lets say we would like to iterate through list dates and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [74]:
dates = [1982, 1980, 1973, 2000]
i = 0
year = 0
while(year != 1973):
  year = dates[i]
  i = i+1
  print(year)
print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.